/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:active, a:hover, a:visited {
  color: #fff;
  text-decoration: none; }

a:active, a:hover {
  text-decoration: underline; }

/** General Settings **/
h1 {
  font-weight: bold; }

h2 {
  font-weight: bold; }

h3 {
  font-weight: bold; }

h4 {
  font-weight: bold; }

h5 {
  font-weight: bold; }

h6 {
  font-weight: bold; }

html {
  font-size: 62.5%; }

body {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  color: #333332;
  background: #fff;
  overflow-x: hidden; }

.wrapper {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.bold {
  font-weight: bold; }

img {
  max-width: 100%;
  height: auto; }

p {
  font-size: 1.6rem;
  line-height: 1.7; }

@media all and (max-width: 1199px) {
  #creative-agency .author {
    padding-left: 0;
    text-align: center; }

  #features .overlay {
    margin-top: 0;
    width: 80%; }
  #features img {
    max-width: 100%;
    height: auto; }

  #our-services .btn {
    margin-bottom: 60px; }
  #our-services p {
    width: 90%; }

  #reviews > div {
    flex-direction: column; }
  #reviews .left-item {
    width: 90%;
    margin-bottom: 40px; }
  #reviews .right-item {
    width: 100%;
    margin: 0 auto; }
    #reviews .right-item ul {
      left: 60%; }
  #reviews .designer {
    width: 90%; }

  #offer .grey-bg {
    width: 50%;
    flex-wrap: wrap; }
  #offer .color-bg {
    width: 50%; }
  #offer .next-level {
    width: 100%; } }
@media screen and (max-width: 1100px) {
  header #top {
    flex-wrap: wrap; }
    header #top nav ul {
      margin-top: 20px; }

  #creative-agency {
    background-image: none;
    margin-top: 55px; }
    #creative-agency p {
      width: 90%; }
    #creative-agency .quote {
      padding-left: 0; }

  #features {
    padding-top: 40px; } }
@media screen and (max-width: 991px) {
  header .overlay h2 {
    font-size: 7rem;
    line-height: 1.3; }
  header .overlay h4 {
    font-size: 2.7rem; }

  #cards .card {
    margin-bottom: 50px; }

  #creative-agency {
    background-image: none;
    margin-top: 55px;
    margin-bottom: 180px; }
    #creative-agency p {
      width: 90%; }
    #creative-agency .quote {
      padding-left: 0; }

  #team .grey-box {
    display: none; }
  #team .staff {
    margin-top: 0; }
  #team ul {
    justify-content: center; }
    #team ul h4 {
      margin-bottom: 0px; }
    #team ul li {
      padding-right: 15px; }

  #reviews p {
    padding-right: 10px; }

  #reviews .right-item p {
    width: 70%; }
  #reviews .right-item ul {
    left: 20%; }
  #reviews .right-item .designer {
    width: 100%; }

  #get-in-touch ul {
    flex-wrap: wrap; }
    #get-in-touch ul li {
      margin-bottom: 30px; }

  footer ul {
    flex-wrap: wrap; }
    footer ul li {
      padding-right: 40px;
      margin-bottom: 35px; } }
@media screen and (max-width: 768px) {
  header nav {
    width: 40px;
    height: 40px; }
    header nav:before {
      font-family: FontAwesome;
      content: "\f0c9";
      display: inline-block;
      font-size: 4rem;
      color: #fff;
      vertical-align: middle; }
    header nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      padding: 20px 30px 20px 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      text-align: center; }
      header nav ul li {
        padding: 10px 0; }
    header nav:hover ul {
      display: flex; }

  #cards {
    margin-top: -80px; }

  #features {
    padding-top: 140px; }
    #features ul li:nth-child(odd) {
      margin-right: 0; }

  #offer > div {
    flex-direction: column; }
    #offer > div .grey-bg {
      width: 100%; }
      #offer > div .grey-bg .our-best {
        margin: 0 auto; }
      #offer > div .grey-bg .next-level {
        width: 90%; }
    #offer > div .color-bg {
      width: 100%;
      padding: 10px 0 10px 0; }
      #offer > div .color-bg .professional-design {
        margin: 0 auto;
        float: none;
        padding-top: 30px; }

  #get-in-touch ul .fa {
    font-size: 2.6rem; }

  footer .credits {
    flex-basis: 100%;
    max-width: 100%; }
  footer .copyright {
    margin-top: 47px; } }
@media screen and (max-width: 575px) {
  #features {
    padding-top: 180px; }

  #get-in-touch ul .fa {
    font-size: 1.6rem; }

  footer {
    padding: 50px 0 36px 0; }
    footer ul {
      flex-direction: column;
      width: 100%; }
      footer ul li {
        padding-left: 10%;
        padding-right: 0; } }
/** Header **/
header {
  background: url(../img/header-bg.jpg) no-repeat;
  height: 822px;
  /** Main Navigation **/
  /** Banner Overlay **/ }
  header #top {
    display: flex;
    padding-top: 22px; }
    header #top .logo {
      margin-left: 52px; }
  header nav {
    margin-left: auto;
    margin-right: 64px; }
    header nav ul {
      display: flex; }
      header nav ul li {
        padding-left: 34px; }
        header nav ul li a {
          font-family: "Lato", sans-serif;
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: uppercase;
          text-decoration: none;
          transition: 0.5s; }
          header nav ul li a:hover {
            color: #F4F4F4;
            text-decoration: none;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 3px 0 3px 0; }
  header .overlay {
    text-align: center;
    margin-top: 110px; }
    header .overlay h2 {
      font-size: 11rem;
      color: #fff;
      font-family: 'Kaushan Script', cursive;
      line-height: 1.5;
      font-weight: normal; }
    header .overlay h4 {
      font-size: 3.7rem;
      color: #fff;
      margin-top: 20px;
      margin-bottom: 35px; }
    header .overlay p {
      color: #fff;
      width: 60%;
      margin: 0 auto;
      line-height: 1.5; }
    header .overlay .btn {
      background: #fff;
      color: #000;
      display: inline-block;
      padding: 13px 25px;
      text-transform: uppercase;
      border: none;
      border-radius: 30px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      margin: 40px 0 86px 0;
      transition: 0.5s; }
      header .overlay .btn:hover {
        color: #3f519a; }

/** Cards Section **/
#cards {
  margin-top: -155px; }
  #cards .row {
    justify-content: center; }
  #cards .card {
    -webkit-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 20px;
    background: #fff;
    color: #333332;
    text-align: center;
    max-width: 374px; }
    #cards .card img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
    #cards .card h2 {
      font-size: 2.5rem;
      margin: 25px 0 28px 0; }
    #cards .card p {
      padding-bottom: 43px;
      line-height: 1.5; }
    #cards .card .btn {
      background: #465396;
      color: #fff;
      display: inline-block;
      padding: 13px 25px;
      text-transform: uppercase;
      border: none;
      border-radius: 30px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      -webkit-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      transition: 0.5s; }
      #cards .card .btn:hover {
        background: #dc803d; }

/** Creative Agency Section **/
#creative-agency {
  background: url(../img/a-letter.png) no-repeat;
  background-position: center top;
  margin-top: 135px;
  margin-bottom: 100px;
  height: 566px; }
  #creative-agency h2 {
    font-size: 5rem;
    color: #333332;
    font-family: 'Kaushan Script', cursive;
    line-height: 1.2;
    margin-bottom: 28px; }
  #creative-agency p {
    color: #040404;
    font-size: 1.8rem;
    width: 60%; }
  #creative-agency .bold {
    display: block; }
  #creative-agency .btn {
    background: #465396;
    color: #fff;
    display: inline-block;
    padding: 13px 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    margin-top: 44px;
    margin-left: 8px;
    transition: 0.5s; }
    #creative-agency .btn:hover {
      background: #dc803d; }
  #creative-agency .quote {
    font-weight: bold;
    padding-left: 195px;
    margin-top: 70px; }
  #creative-agency .author {
    font-weight: bold;
    padding-left: 242px;
    font-family: "Kaushan Script", cursive;
    font-size: 4.7rem;
    color: #333332;
    margin-top: 20px; }

/** Features Section **/
#features {
  margin-bottom: 76px; }
  #features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #features ul li:nth-child(odd) {
      margin-right: 20px; }
  #features img {
    border-radius: 20px;
    max-width: 575px;
    margin-bottom: 25px; }
  #features .overlay {
    width: 60%;
    background: #fff;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    z-index: 3;
    margin-top: -600px; }
    #features .overlay h2 {
      font-size: 5rem;
      color: #333332;
      font-family: 'Kaushan Script', cursive;
      line-height: 1.7;
      margin-bottom: 17px; }
    #features .overlay p {
      font-size: 1.8rem; }
    #features .overlay .btn {
      background: #465396;
      color: #fff;
      display: inline-block;
      padding: 13px 25px;
      text-transform: uppercase;
      border: none;
      border-radius: 30px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      -webkit-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
      margin-top: 42px;
      transition: 0.5s; }
      #features .overlay .btn:hover {
        background: #dc803d; }

/** Our Services Section **/
#our-services {
  background-color: #F4F4F4; }
  #our-services .right-services {
    background: url(../img/services.jpg) no-repeat;
    background-position: right;
    max-height: 649px;
    padding-top: 93px;
    padding-bottom: 70px; }
  #our-services h2 {
    font-size: 5rem;
    color: #333332;
    font-family: 'Kaushan Script', cursive;
    line-height: 1.1;
    margin-top: 83px;
    margin-bottom: 30px; }
  #our-services p {
    font-size: 1.8rem;
    width: 80%; }
  #our-services .btn {
    background: #465396;
    color: #fff;
    display: inline-block;
    padding: 13px 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    -webkit-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 7px 48px 6px rgba(0, 0, 0, 0.2);
    margin-top: 43px;
    margin-left: 8px;
    transition: 0.5s; }
    #our-services .btn:hover {
      background: #dc803d; }
  #our-services ul {
    width: 348px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 23px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.2;
    box-sizing: content-box;
    background: #de813c;
    background: -moz-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
    background: -webkit-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
    background: linear-gradient(135deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de813c', endColorstr='#3f519a',GradientType=1 ); }
    #our-services ul h5 {
      font-size: 1.7rem;
      color: #fff;
      padding-bottom: 12px; }
    #our-services ul li {
      width: 150px;
      align-self: center; }
      #our-services ul li:nth-child(1), #our-services ul li:nth-child(2), #our-services ul li:nth-child(3), #our-services ul li:nth-child(4) {
        border-bottom: 2px dotted rgba(255, 255, 255, 0.4); }
      #our-services ul li:nth-child(1), #our-services ul li:nth-child(3), #our-services ul li:nth-child(5) {
        border-right: 2px dotted rgba(255, 255, 255, 0.4); }
    #our-services ul img {
      margin-bottom: 12px;
      margin-top: 20px; }

/** Team Section **/
#team {
  text-align: center;
  background-color: #fff;
  margin-bottom: 63px; }
  #team h2 {
    font-size: 5rem;
    color: #333332;
    font-family: 'Kaushan Script', cursive;
    margin: 100px 0 45px 0; }
  #team p {
    font-size: 1.8rem;
    padding: 0 20px; }
  #team img {
    margin-top: 70px;
    margin-bottom: 47px;
    max-width: 218px;
    border-radius: 20px; }
  #team h3 {
    font-size: 2.5rem;
    margin-bottom: 8px; }
  #team h4 {
    font-size: 2rem;
    margin-bottom: 68px;
    color: #b7b7b7; }
  #team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #team .grey-box {
    height: 315px;
    width: 105%;
    background-color: #F4F4F4;
    margin-top: 185px;
    margin-left: -30px; }
  #team .staff {
    z-index: 5;
    margin-top: -480px; }

/** Reviews Section **/
#reviews > div {
  display: flex; }
#reviews h2 {
  font-size: 6.5rem;
  color: #333332;
  font-family: 'Kaushan Script', cursive;
  margin: 45px 0 5px 0; }
#reviews h4 {
  font-size: 2.2rem;
  margin-bottom: 29px;
  color: #515151; }
#reviews h5 {
  font-size: 2.5rem;
  margin-bottom: 5px; }
#reviews p {
  font-size: 1.8rem;
  padding-right: 86px; }
#reviews .left-item {
  background: #fff;
  width: 45%;
  margin-left: 5%; }
  #reviews .left-item ul {
    padding-right: 52px; }
#reviews .right-item {
  background: #de813c;
  background: -moz-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: -webkit-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: linear-gradient(135deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de813c', endColorstr='#3f519a',GradientType=1 );
  width: 55%;
  color: #fff;
  margin-bottom: 128px; }
  #reviews .right-item p {
    width: 30%;
    float: right;
    margin-top: 62px; }
  #reviews .right-item .fa {
    font-size: 3rem;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #272525;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    display: inline-block;
    background-color: #fff;
    transition: 0.5s; }
    #reviews .right-item .fa:hover {
      background: #dc803d;
      color: #fff; }
  #reviews .right-item ul {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%; }
    #reviews .right-item ul li {
      padding-left: 20px; }
#reviews .progress-top {
  display: inline-block;
  width: 80%;
  height: 15px;
  border-radius: 20px;
  background: #dc803d;
  background: -moz-linear-gradient(-45deg, #dc803d 0%, #405199 100%);
  background: -webkit-linear-gradient(-45deg, #dc803d 0%, #405199 100%);
  background: linear-gradient(135deg, #dc803d 0%, #405199 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dc803d", endColorstr="#405199", GradientType=1 ); }
#reviews .progress-bottom {
  display: block;
  width: 100%;
  height: 15px;
  background: #dcdcdc;
  border-radius: 20px; }
#reviews .number {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 0 auto;
  position: absolute;
  right: 0;
  bottom: 30%; }
#reviews li {
  position: relative;
  margin-top: 45px; }
#reviews .designer {
  position: relative;
  background: url(../img/designer.jpg) no-repeat;
  height: 727px; }

#offer .color-bg {
  background: #de813c;
  background: -moz-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: -webkit-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: linear-gradient(135deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de813c', endColorstr='#3f519a',GradientType=1 );
  width: 30%;
  padding: 95px 0 107px 0; }
#offer .grey-bg {
  background-color: #F4F4F4;
  width: 70%;
  display: flex;
  padding: 95px 0 107px 0; }
#offer .next-level {
  color: #333332;
  width: 50%;
  padding-left: 40px; }
  #offer .next-level h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 5rem;
    margin: 50px 0 38px 0;
    line-height: 1.2; }
  #offer .next-level p {
    margin-bottom: 35px;
    font-size: 1.8rem; }
#offer .professional-design {
  color: #333332;
  float: right;
  background: #fff;
  text-align: center;
  width: 380px;
  height: 588px; }
  #offer .professional-design h2 {
    font-size: 5rem;
    color: #333332;
    font-family: 'Kaushan Script', cursive;
    margin-top: 55px; }
  #offer .professional-design h3 {
    font-size: 6.9rem;
    color: #3f519a;
    margin: 50px 0; }
  #offer .professional-design h4 {
    font-size: 2.5rem; }
  #offer .professional-design p {
    font-size: 1.8rem;
    padding: 10px 35px 0 35px; }
  #offer .professional-design small {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 22px;
    margin-top: 12px;
    font-weight: bold; }
#offer .our-best {
  background: #de813c;
  background: -moz-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: -webkit-linear-gradient(-45deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  background: linear-gradient(135deg, #de813c 0%, #3f519a 100%, #3f519a 100%, #3f519a 101%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de813c', endColorstr='#3f519a',GradientType=1 );
  color: #fff;
  text-align: center;
  width: 380px;
  height: 588px; }
  #offer .our-best h2 {
    font-size: 6.2rem;
    color: #333332;
    font-family: 'Kaushan Script', cursive;
    margin-top: 105px; }
  #offer .our-best small {
    font-size: 2.5rem;
    display: block;
    margin-bottom: 22px;
    margin-top: 12px;
    font-weight: bold; }
  #offer .our-best ul {
    text-align: left;
    padding-left: 60px; }
    #offer .our-best ul li {
      padding-bottom: 20px;
      font-size: 1.6rem; }
      #offer .our-best ul li:before {
        font-family: FontAwesome;
        content: "\f00c";
        display: inline-block;
        padding-right: 14px;
        vertical-align: middle; }
  #offer .our-best .btn {
    background: #fff;
    color: #000;
    display: inline-block;
    padding: 13px 25px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 50px;
    transition: 0.5s; }
    #offer .our-best .btn:hover {
      color: #3f519a; }

/** Get in Touch Section **/
#get-in-touch {
  max-height: 384px;
  background: url(../img/contact-bg.jpg) no-repeat;
  padding: 80px 0 90px 0;
  text-align: center; }
  #get-in-touch h2 {
    font-size: 5rem;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 70px; }
  #get-in-touch ul {
    display: flex;
    justify-content: center; }
    #get-in-touch ul li {
      padding-left: 38px; }
    #get-in-touch ul .fa {
      font-size: 3.6rem;
      border-radius: 50%;
      border: 2px solid #fff;
      color: #fff;
      line-height: 2em;
      width: 2em;
      height: 2em;
      text-align: center;
      display: inline-block;
      transition: 0.1s; }
      #get-in-touch ul .fa:hover {
        color: #333332;
        border: 2px solid #333332; }

/** Footer **/
footer {
  padding: 97px 0 36px 0;
  background: #fff;
  font-size: 1.7rem; }
  footer a,
  footer a:active {
    color: #333332; }
  footer a:hover,
  footer a:visited {
    color: #333332;
    text-decoration: underline; }
  footer .copyright {
    font-weight: bold;
    margin-top: 82px;
    text-align: center; }
  footer h4 {
    font-size: 1.7rem; }
  footer ul {
    display: flex;
    justify-content: space-around; }
    footer ul li {
      display: flex; }
    footer ul img {
      padding-right: 26px; }

/*# sourceMappingURL=styles.css.map */
